.container
  %h2 Detail product
  %table.table
    %thead
      %tr
        %th Name
        %th Price
        %th Description
        %th
    %tbody
      %tr
        %td= @product.name
        %td= @product.price
        %td= @product.description
        %td= link_to "Add to cart", add_to_cart_path(id: @product.id), method: :post
